.demos-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}
.wechatinfo {
    width: 100px;
    height:120px;
    margin: auto;
}
.wechatImg {
    width: 100px;
    height: 100px;
}

.wechatnick {
    width: 100px;
    height: 20px;
}