<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,user-scalable=0">
        <title>涿州车友</title>
        <link
            rel="stylesheet"
            href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
        <link
            rel="stylesheet"
            href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
        <link rel="stylesheet" href="./stylesheets/createtip.css">
    </head>
    <body>
        <h1 class="demos-title">创建提醒</h1>
        <div class="wechatinfo">
            <img src="<%=headimg%>" alt="">
            <div class="wechatnick"><%=nick%></div>
        </div>


        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">车牌号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$" placeholder="请输入车牌号">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="请输入手机号">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">首次登记日期</label>
                </div>
                <div class="weui-cell__bd" style="margin-left:10px">
                    <input class="weui-input" type="date" value="">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">交强到期日期</label>
                </div>
                <div class="weui-cell__bd" style="margin-left:10px">
                    <input class="weui-input" type="date" value="">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">商险到期日期</label>
                </div>
                <div class="weui-cell__bd"  style="margin-left:10px">
                    <input class="weui-input" type="date" value="">
                </div>
            </div>
            
            
           
        </div>
        <div class="weui-cells__tips">本服务由涿州车友提供技术支持</div>


        <!-- body 最后 -->
        <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>

        <!-- 如果使用了某些拓展插件还需要额外的JS -->
        <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
    </body>
</html>