<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            <%- title %>
            </title>
        </head>
        <body>
            <div class="weui-msg">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-success weui-icon_msg"></i>
                </div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">操作成功</h2>
                    <p class="weui-msg__desc">涿州车友将于,验车及保险到期前45天开始提醒您<a href="javascript:void(0);">关注我们获取更多服务</a>
                    </p>
                </div>
                <div class="weui-msg__extra-area">
                    <div class="weui-footer">
                        <p class="weui-footer__links">
                            <a href="javascript:void(0);" class="weui-footer__link">涿州车友</a>
                        </p>
                        <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
                    </div>
                </div>
            </div>
        </body>
    </html>