doctype html
html
    head
        link(href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" type='text/css' rel="stylesheet")
        script(src='https://unpkg.com/element-ui/lib/index.js')
    body
        el-button(type="primary" icon="el-icon-search") 提交
        p Welcome to #{title}